

.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

/* shared-style */
.text-primary{
    color: #FD6E0A
}

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}    
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
}

.text-center{
    text-align: center;
}

.secondary-bg{
    background-color: #FFF8F3;
}

.dark-2{
    color: #474747;
    margin-right: 51px;
}

/* Nav styles */
nav{
    display: flex;
}

.nav-title{
     font-weight: 800;
     font-size: 45px;
}

nav ul li{
    list-style: none;
}
nav ul a{
    text-decoration: none;
}
nav ul {
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-weight: bold;
    font-size: 85px;
}

.banner-description{
    font-size: 18px;
}

.baneer-profile-picture{
    width: 580px;
}

.content-banner{
    max-width: 585px;
}

/* main */
main{
    max-width: 1140px;
    margin: 0 auto; 
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;

}

/* About */
.about{
    margin-top: 100px;
    border-radius: 10px;
    padding: 30px 150px;
    text-align: center;
}

.item-description{
    font-weight: bold; 
}
.about-items{
    display: flex;
    justify-content: space-around;
}

/* Skill sections style */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
/* res. section */
.resume-container{
    display: flex;
    gap: 24px;
}

.experience-description, .experience-sub-title{
    color: #757575;
    margin-top: 20px;
}
.experience-sub-title{
    font-size: 18px;
    font-weight: 600;
}

.resume-download-cv{
    margin-top: 50px;
}
/* .resume hr{
    margin: 30px 5px;
} */

footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}

footer input[type="text"] ,footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white; 
    display: block;  
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

@media screen and (max-width: 576px){
    .skills-container, .banner, nav, nav > ul{
        flex-direction: column;
    }

    nav > ul{
        gap: 20px
    }
    .btn-primary{
        margin-bottom: 20px;
    }
@media screen and (max-width: 576px){
    .resume-container{
        flex-direction: column;
    }
}
@media screen and (max-width: 576px){
    footer{
        flex-direction: column;
        padding: 20px;
    }
    .footer-column{
        width: 100%;
    }
    footer input[type="text"] ,footer input[type="email"], footer textarea{
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 576px){
    .about, .about-items{
        flex-direction: column;
        padding: 20px;
    }
}
.banner{
    margin: 20px;
}
.banner-profile-picture{
    width: 100%;
}
.header{
    background-image: none;
}

/* table specific media query */
@media screen and (min-width: 576px) and (max-width: 990px){
    .banner{
        flex-direction: column;
    }
}